@model IEnumerable<ProyectoReservaTicket.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
}
<br />
<br />
<h2>Lista de Reservas Realizadas</h2>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAepllido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento.Nombre)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAepllido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadTicket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPagar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Nombre)
                </td>

            </tr>
        }

</table>
